html {
    color: #414141;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    align-items: center;
    align-content: center;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: 0;
    width: 100vw;
}

input {
    background: #ffffff;
    border: 2px solid #cacaca;
    border-radius: 8px;
    color: #414141;
    font-size: 16px;
    font-weight: 500;
    margin: 0 8px;
    padding: 4px 8px;
    transition-duration: .3s;
}

input:focus {
    border-color: #3ba7ff;
    outline: none;
    transition-duration: .3s;
}

button {
    background: #414141;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    height: fit-content;
    margin: 12px 8px 0 8px;
    padding: 8px 16px;
    transition-duration: .3s;
}

button:hover {
    background-color: #3ba7ff;
    cursor: pointer;
    transition-duration: .3s;
}

button:focus {
    outline: none;
}

#simulationCanvas {
    background: #ffffff;
    border: 1px solid #cacaca;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.inputLabel {
    color: #414141;
    font-size: 13px;
    font-weight: 700;
    margin-left: 8px;
}

.inputs {
    align-items: center;
    background: #ffffff;
    border-radius: 10px;
    justify-content: center;
    min-width: 200px;
    padding: 16px 32px;
}

.inputsTitle {
    border-bottom: 1px solid #f0f0f0;
    color: #414141;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 16px;
    padding-bottom: 8px;
    text-align: center;
    width: 100%;
}

.slider {
    background: #f0f0f0;
    border-radius: 10px;
    height: 4px;
    outline: none;
    width: 80%;
    -webkit-appearance: none;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    background: #3ba7ff;
    border-radius: 20px;
    cursor: pointer;
    height: 16px;
    width: 16px;
    -webkit-appearance: none;
}

.slider::-moz-range-thumb {
    appearance: none;
    background: #3ba7ff;
    border-radius: 20px;
    cursor: pointer;
    height: 16px;
    width: 16px;
}